<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="mt-2">Redux tests</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-todo></app-todo>
    </div>
    <div class="col">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>