<p>
  Todos: {{ todosLenght | async }}
</p>
<p *ngIf="lastUpdate | async">
  Last update: {{ lastUpdate | async | date:'full' }}
</p>
<button class="btn btn-danger" (click)="removeAllTodos()">Remove all</button>
