<div class="row">
  <div class="col">
    <ul class="list-group">
      <li *ngFor="let todo of todos | async; let i = index" class="list-group-item list-group-item-success">
        {{ todo.title }}
        <button type="button" class="close" aria-label="Close" (click)="removeTodo(i)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <form>
      <div class="form-group">
        <input type="text" #titleTodo class="form-control">
      </div>
      <button class="btn btn-primary" (click)="addTodo(titleTodo)">Add todo</button>
    </form>
  </div>
</div>